{% extends 'bootstrap.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% load static %}

{% block bootstrap4_content %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'dashboard:index' %}">Modded.Me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apps</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'quotes_app:home' %}">Quote App</a>
                    <!-- <div class="dropdown-divider"></div> -->
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" target="_blank" href="{% url 'docs_root' %}">Docs</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>  



<!-- This is where you'll put your page content. Leave it blank for now. -->
<div class="container p-3">
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    {% block content %}Nothing Here{% endblock %}
</div>

{% endblock %}

<!-- TODO: solve active class switch issue -->
<!-- https://stackoverflow.com/questions/24514717/bootstrap-navbar-active-state-not-working -->
<!-- <script>
$(".nav .nav-link").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).addClass("active");
});
</script> -->