{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Get Lucky Draw | Modded.Me{% endblock %}

{% block content %}

<div class="card m-3">
    <div class="card-header"><h1>{{ card.title }}</h1></div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ card.action }}</li>
        {% if card.body_part %}
            <li class="list-group-item">{{ card.body_part }}</li>
            <li class="list-group-item">{{ card.time }}</li>
        {% endif %}
    </ul>
</div>

<div>
    <a class="btn btn-success" href="{% url 'get_lucky_draw:home' %}" role="button">Draw Card</a>
</div>
{% endblock %}
