Django
django-bootstrap4
django-docs
django-environ
django-extensions
djangorestframework
django-taggit
django-taggit-serializer

celery<6
gunicorn
psycopg2-binary
redis
sphinx
sphinx-rtd-theme
whitenoise
