{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Modded.Me{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 p-2">
    <div class="jumbotron">
        <h1 class="display-4">Modded.Me</h1>
        <p class="lead">Exploring lifestyle gamification and behavioral design through web application development</p>
        {% if user.is_authenticated %}
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url 'dashboard:dashboard' %}" role="button">Dashboard</a>
        </p>
        {% else %}
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'dashboard:signup' %}" role="button">Sign Up</a>
          </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
          </p>        
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}