{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %} {{ virtue.title }} | Modded.Me{% endblock %}

{% block content %}

<h2>{{ virtue.title }}</h2>
<h2>Level: {{ virtue.level }}</h2>
<h2>XP: {{ virtue.xp }}</h2>
<h2>XP to Next Level: {{ virtue.xp_to_next_level }}</h2>

<!-- Topics -->
<h2>{{ virtue.title }} Topics</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
    {% for topic in virtue.topics.all %}
        <tr>
          <th scope="row"><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></th>
          <td>{{ topic.description }}</td>
          <td>{{ topic.created }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


<!-- Tasks -->
<h2>{{ virtue.title }} Tasks</h2>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">XP</th>
          <th scope="col">Virtue</th>
          <th scope="col">Topic</th>
          <th scope="col">Created</th>
        </tr>
      </thead>
      <tbody>
      {% for task in virtue.tasks.all %}
          <tr>
            <th scope="row"><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></th>
            <td>{{ task.xp }}</td>
            <td>{{ task.virtue }}</td>
            <td>{{ task.topic }}</td>
            <td>{{ task.created }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
