{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}{% endblock %}

{% block content %}

<a href="{% url 'dashboard:add-task' %}" class="btn btn-primary">Add Task</a>

<!-- Tasks -->
<h2>{{ topic }} Tasks</h2>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">XP</th>
          <th scope="col">Virtue</th>
          <th scope="col">Topic</th>
          <th scope="col">Created</th>
        </tr>
      </thead>
      <tbody>
      {% for task in topic.tasks.all %}
          <tr>
            <th scope="row"><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></th>
            <td>{{ task.xp }}</td>
            <td>{{ task.virtue }}</td>
            <td>{{ task.topic }}</td>
            <td>{{ task.created }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
