{% extends 'base.html' %}

{% block content %}

<h2>Welcome, {{ user.username }}!</h2>

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Quote</th>
          <th scope="col">Author</th>
          <th scope="col">Tags</th>
          <th scope="col">Added</th>
        </tr>
      </thead>
      <tbody>
      {% for quote in quotes %}
          <tr>
            <th scope="row"><a href="{{ quote.get_absolute_url }}">"{{ quote.text }}"</a></th>
            <td>{{ quote.author }}</td>
            <td>
                {% for tag in quote.tags.all %}
                  <a href="{% url 'quotes_app:tag-quotes' tag.id %}"><span class="badge badge-primary">{{ tag }}</span></a>
                {% endfor %}
            </td>
            <td>{{ quote.created }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

<a class="btn btn-primary" href="{% url 'quotes_app:add-quote' %}" role="button">Add Quote</a>


{% endblock %}
