{% extends 'quotes_app/bootstrap.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{% block bootstrap4_content %}
    <div class="container">
        <h1>{% block title %}Quotes App{% endblock %}</h1>

        <a class="btn btn-success" href="{% url 'quotes_app:index' %}" role="button">Home</a>
        <a class="btn btn-primary" href="{% url 'quotes_app:add-quote' %}" role="button">Add Quote</a>
        <a class="btn btn-danger" href="{% url 'logout' %}" role="button">Log Out</a>

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}{% endblock %}
    </div>

{% endblock %}
